@charset "UTF-8";
/* /////////////////////////////////////////////// */
/*   Guirder is a Sassy grid toolkit   ////////// */
/*   Simple, Responsive & Semantic    ////////// */
/* //////////////////////////////////////////// */
/* line 6, ../scss/girder_modules/_girder_base.scss */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 67, ../scss/girder_modules/_girder_base.scss */
.container, .row {
  margin: 0 auto;
  max-width: auto;
}

/* line 73, ../scss/girder_modules/_girder_base.scss */
.row {
  display: block;
  clear: both;
  *zoom: 1;
}
/* line 125, ../scss/girder_modules/_girder_base.scss */
.row:after {
  clear: both;
}
/* line 127, ../scss/girder_modules/_girder_base.scss */
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 89, ../scss/girder_modules/_girder_utilities.scss */
.left {
  float: left !important;
}

/* line 90, ../scss/girder_modules/_girder_utilities.scss */
.right {
  float: right !important;
}

/* line 91, ../scss/girder_modules/_girder_utilities.scss */
.text-left {
  text-align: left !important;
}

/* line 92, ../scss/girder_modules/_girder_utilities.scss */
.text-right {
  text-align: right !important;
}

/* line 93, ../scss/girder_modules/_girder_utilities.scss */
.text-center {
  text-align: center !important;
}

/* line 94, ../scss/girder_modules/_girder_utilities.scss */
.text-justify {
  text-align: justify !important;
}

/* line 95, ../scss/girder_modules/_girder_utilities.scss */
.hide {
  display: none;
}

@media screen and (max-width: 35.5em) {
  /* line 6, ../scss/girder_modules/_girder_responsive.scss */
  .center-small {
    text-align: center;
  }

  /* line 9, ../scss/girder_modules/_girder_responsive.scss */
  .hide-small {
    display: none !important;
  }
}
