@charset "UTF-8";
/* /////////////////////////////////////////////// */
/*   Guirder is a Sassy grid toolkit   ////////// */
/*   Simple, Responsive & Semantic    ////////// */
/* //////////////////////////////////////////// */
/* line 6, ../scss/girder_modules/_girder_base.scss */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 13, ../scss/girder_modules/_girder_base.scss */
.container, .row {
  margin: 0 auto;
  max-width: auto;
}

/* line 72, ../scss/girder_modules/_girder_base.scss */
.row {
  display: block;
  clear: both;
  *zoom: 1;
}
/* line 127, ../scss/girder_modules/_girder_base.scss */
.row:after {
  clear: both;
}
/* line 129, ../scss/girder_modules/_girder_base.scss */
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 20, ../scss/girder_modules/_girder_responsive.scss */
.center-small {
  text-align: center;
}
@media (min-width: 35.5em) and (max-width: 40em) {
  /* line 20, ../scss/girder_modules/_girder_responsive.scss */
  .center-small {
    text-align: inherit;
  }
}

/* line 26, ../scss/girder_modules/_girder_responsive.scss */
.hide-small {
  display: none;
}
@media (min-width: 40em) {
  /* line 26, ../scss/girder_modules/_girder_responsive.scss */
  .hide-small {
    display: block;
  }
}
