/* =========================================== */
/*   Girder v.1.0.4 A Sassy layout helper  // */
/*   https://github.com/unmaya/Girder     // */
/* ======================================== */

// Config Settings can be adjusted prior to Girder @import
// An $em-base used for utilities like emCalc() and other extras
$em-base           : 16px !default;

// Functions module need priority (pixel to em converters and more)
@import "girder_modules/girder_functions";

// Gutter width is split evenly into each side of a unit by default
$gutters           : emCalc(20px) !default;

// Set a fixed width for a wraping .container or keep it fluid. eg: @include container(40em, 0 auto);
$container-max-width : none !default;
$container-margins : 0 auto !default;

// Name your class for self-clearing elements (row, container, grid, etc)
$row-class         : 'row' !default;
$row-padding       : 0 !default;
// Clear rows with a class in your markup or by silently extending %row (advanced)
// Reduces css output when Girder is dormant to practically nothing
$silent-classes    : false !default;

// Example / placeholder breakpoints, change values as needed
// Pass Pixels and Get ems in return (depends on $em-base var above)
$small-breakpoint  : emCalc(568px) !default;
$medium-breakpoint : emCalc(640px) !default;
$large-breakpoint  : emCalc(790px) !default;
$xlarge-breakpoint : emCalc(940px) !default;

// Optional: Support for the breakpoint sass extension (requires addon)
$use-breakpoint    : false !default;
// @import "girder_modules/addon_breakpoint";

// Resets all units to go full-width in viewports smaller than $small-breakpoint
$reset-units       : true !default;

// Output extra classes for pushing units and .hide-small / .center-small
$include-extras    : false !default;

// Output HTML presentational classes? Larger CSS output (experimental, not recommended).
$html-classes      : false !default;

// Utility mixins and classes (clearfix, floats, text-aligns)
@import "girder_modules/girder_utilities";

// Required: Base grid for girder
@import "girder_modules/girder_base";

// Basic responsiveness for grid units, not required but essential
@import "girder_modules/girder_responsive";
