//////////////////////////////
// Site and demo page styles
// (not required by Girder)
@charset "UTF-8";

// Site Styling Variables
$body-bg            : #fff;
$base-font-color    : #333333;
$linkColor	        : #555555;
$linkHoverColor     : saturate(lighten($linkColor, 15%), 40%);
$lightText			    : lighten($base-font-color, 75%);

// Normalize and Typography Variables
$base-font-size: 16px !default; // Override default set in Compass' Vertical Rhythm partial.

// The base line height determines the basic unit of vertical rhythm.
// $base-line-height: 24px; // Override default set in Compass' Vertical Rhythm partial.

// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1.5  * $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.67 * $base-font-size !default;

// The amount lists and blockquotes are indented.
$indent-amount: 30px !default;

// Default font families
$headingsFont       : source-sans-pro, "Helvetica Neue", "Helvetica", sans-serif;
$base-font-family   : "Helvetica Neue", "Helvetica", Arial, sans-serif;


////////////////////////////////
// Import the required partials
// Used by the demo, not Guirder

// Compass support modules
@import "compass";
@import "compass/support";

// Normalize this thing
// @import "../components/normalize.scss/normalize";
@import "normalize";

// Baseline for Compass Vertical Rhythm
@import "compass/typography/vertical_rhythm";
@include establish-baseline;

// Load the Girder modules
@import "girder";



////////////////////////////////
// Theme Styles For Reference
// Not needed by Guirder

body {
	background: $body-bg;
	color: $base-font-color;
	font-family: $base-font-family;
	-webkit-font-smoothing: antialiased;
}
html, body, .container, .about, .content, .actions {height: 100%;}
h1, h2, h3, h4 {margin-bottom: .4em;}
p {margin: 1em 0 1.5em;}
a {
	&:link, &:visited {color: $linkColor;}
}

// Expressed CSS Classes
// For Debugging Purposes
.content {
	@include unit(golden-large, false);
}
.actions {
	@include unit(golden-small, false);
	background: #f4f4f4;

	ul {list-style: none;}
}
footer {
	background: $base-font-color;
	color: $body-bg;
	position: fixed;
	bottom: 0;
	width: 100%;
}


.goldlarge {
	@include unit(golden-large);
	pre {@include panel();}
}
.goldsmall {
	@include unit(golden-small);
	pre {@include panel();}
}