//////////////////////////////
// Breakpoints and base media queries for grid units and utilities
// Optional: install the Breakpoint plugin for Compass to use the breakpoint mixin

@if $reset-units {
  @if $use-breakpoint == true {
    @include breakpoint($single-column) {
      %unit {
        // All units go full-width for a single-column layout
        width: 100%;

        // Reset push for small viewports
        left: 0;

        // Reset horizontal gutters
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  @else {
    @include media-query(10em, $small-breakpoint) {
      %unit {
        width: 100%;
        left: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

// Generate the css for a clearing element here
@if $silent-classes == false {
  .#{$row-class} {
    @if $use-breakpoint {
      @include breakpoint($small-breakpoint) {
        // Option to add outer gutters back in to keep third+ units even
        &.equal-units {
          > :first-of-type {padding-left: $gutters / 2;}
          > :last-child {padding-right: $gutters / 2;}
        }
      }
    }
    @else {
      @include media-query($small-breakpoint) {
        &.equal-units {
          > :first-of-type {padding-left: $gutters / 2;}
          > :last-child {padding-right: $gutters / 2;}
        }
      }
    }
  }
}

// Utility classes for centering text and hiding stuff in smaller screens
@mixin responsive-utilities {
  .center-small {
    text-align: inherit;
    @if $use-breakpoint == true {
      @include breakpoint($single-column) {
        text-align: center;
      }
    }
    @else {
      @include media-query(10em, $small-breakpoint) {
        text-align: center;
      }
    }
  }
  .hide-small {
    display: block;
    @if $use-breakpoint == true {
      @include breakpoint($single-column) {
        display: none;
      }
    }
    @else {
      @include media-query(10em, $small-breakpoint) {
        display: none;
      }
    }
  }
}

@if $include-extras {
  // Optional: Output classes to hide elements or center text in small screens
  @include responsive-utilities;
}